{{#if infinityModel.reachedInfinity}}
  	<p>Se cargó todo el contenido</p>
{{else}}
	{{#if infinityModel.loading}}
	<div class="loading">
		Cargando
	</div>
	{{else}}
		<p {{action 'loadMore'}} class="btn">Cargar más</p>
	{{/if}}
{{/if}}