@import "plugins/plugins";
@import "base/base";
@import "modules/modules";

$mobile: new-breakpoint(max-width 650px 6);
$tablet: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 993px 12);


.infinity-loader {
    float: left;
    width: 100%;
    text-align: center;
    padding: 35px;
}
