@import "plugins/plugins";
@import "base/base";
@import "modules/modules";

.side-panel {
    position: fixed;
    top: 73px;
    width: 80%;
    right: 0;
    background: #fff;
    padding: 0;
    bottom: 0;
}

.infinity-loader {
    float: left;
    width: 100%;
    text-align: center;
    padding: 35px;
}
