.main-content {
	
}

.container {
	@include outer-container(100%);
    padding: 25px;

    @include media($mobile) {
		padding: 25px 0;
	}

	.heading {
		@include display(flex);
		@include justify-content(space-between);

		 @include media($mobile) {
			padding: 0 15px;
		}

		h1 {

		}

		.-actions {

		}

		.sort {

		}

	}

	section {
		@include span-columns(12);
	    background: #fff;
		-webkit-overflow-scrolling: touch;

		.-list {
			@include span-columns(12);

		}

		.-item {
			@include span-columns(12);
			padding: 15px;
			margin: 2px 0;
		    border-bottom: 1px solid #ddd;
		}

		a {
			color: #3498db;
		}
	}


}

