.main-content {
	
}

.container {
	@include outer-container(100%);

    @include media($mobile) {
		padding: 0;
	}

	.heading {
		@include display(flex);
		@include justify-content(space-between);
		padding: 20px 80px 20px 28px;
		background: #f1f1f1;
		padding-left: 25px;
	    border-bottom: 1px solid #AEB6BF;
	    

		 @include media($mobile) {
			padding: 20px 80px;
		}

		h1 {

		}

		.-actions {
			position: fixed;
			right: 26px;
			top: 10px;
			display: flex;
		}

		.item {
			    cursor: pointer;
    width: auto;
    line-height: 70px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin: 0 5px;
    font-weight: 600;

    .fa {
    	margin-right: 5px;
		}
    }

	}

	section {
		@include span-columns(12);
	    background: #fff;
		-webkit-overflow-scrolling: touch;

		.-list {
			@include span-columns(12);

		}

		.-item {
			@include span-columns(12);
			padding: 15px;
			margin: 2px 0;
		    border-bottom: 1px solid #ddd;
		}

		a {
			color: #3498db;
		}
	}


}

