.main-content {
	
}

.container {
	@include outer-container(100%);
    padding: 25px;

	.heading {
		@include display(flex);
		@include justify-content(space-between);


		h1 {

		}

		.-actions {

		}

		.sort {

		}

	}

	section {
		@include span-columns(12);

		.-list {
			@include span-columns(12);
		}

		.-item {
			@include span-columns(12);
			padding: 15px 0;
			margin: 2px 0;
		    border-bottom: 1px solid #ddd;
		}
	}


}

