nav {
	background: $main-blue;

	.app-logo {
		position: fixed;
		height: 100px;
		padding: 10px;
		text-align: center;
		background: #217dbb;
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		bottom: 0;
		width: 150px;
		padding-top: 25px;

		&:hover {
			background: lighten($main-blue, 10%);
		}

		img {
			width: 60px;
		}
	}
}


.app-logo {
		
}

.user-login {
	padding: 16px 12px 12px 12px;
	position: fixed;
	left: 0;
	bottom: 100px;
	font-size: 18px;
	width: 150px;
	height: 110px;
	background: #AED6F1;
	text-align: center;
	line-height: 34px;
	color: #1A5276;
	font-weight: 600;

    span {
		display: none;
	}

	a {
		cursor: pointer;
		background: #2ECC71;
		padding: 5px 35px;
		color: #fff;
		font-weight: 600;
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transition: all 0.6s;
		transition: all 0.6s;

		&:hover {
			background: #1ABC9C;
		}
	}
}
