$mobile: new-breakpoint(max-width 650px 6);
$tablet: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 993px 12);

nav {
	background: $main-blue;

	.app-logo {
		position: fixed;
		height: 100px;
		padding: 10px;
		text-align: center;
		background: #2E86C1;
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		bottom: 0;
		width: 150px;
		padding-top: 25px;
		left: 0;

		@include media($mobile) {
    	height: 60px;
    	padding-top: 10px;
    	width: 100%;
	}

    

		&:hover {
			background: lighten($main-blue, 10%);
		}

		img {
			width: 60px;
		}
	}
}


.app-logo {
		
}

.user-login {
    padding: 16px 12px 12px 12px;
    position: fixed;
    left: 0;
    bottom: 100px;
    font-size: 18px;
    width: 150px;
    height: 110px;
    background: #2E86C1;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #21618C;
    border-top: 1px solid #21618C;

    @include media($mobile) {
    	padding: 10px 12px 6px 12px;
    	height: 92px;
    	bottom: 60px;
    	width: 100%;
	}

    span {
		display: none;
	}

	a {
    	cursor: pointer;
	    background: #EC7063;
	    padding: 5px 35px;
	    color: #fff;
	    font-weight: 600;
	    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	    -webkit-transition: all 0.6s;
	    transition: all 0.6s;

		&:hover {
			background: #1ABC9C;
		}
	}
}
