$mobile: new-breakpoint(max-width 650px 6);
$tablet: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 993px 12);


$layer: (
  offcanvas: 1,
  header: 100,
  modal: 500,
  dropdown: 10,
  tooltip: 15
);

body {
	background: #f9f9f9;
}

nav {
	position: fixed;
	z-index: layer(modal) + 1;
	width: 150px;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	z-index: 1;

	@include media($mobile) {
    	padding-top: 60px;
	}




	@include media($mobile) {
		-webkit-transform: translate3d(-150px,0,0);
		transform: translate3d(-150px,0,0);
	}

	&.show {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.main-content {
	position: relative;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	//padding-top: 60px;
    margin-right: 0;
    margin-left: 150px;
    height: 100vh;

    @include media($mobile) {
	  margin-left: 0;
	}
}

header {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 150px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: layer(header);

	@include media($mobile) {
		margin-left: 0;
	}

	@include media($mobile) {
		.smart-search {
		opacity: 1;
		}
	}
}


.side-panel {
	z-index: layer(modal) - 1;
    box-shadow: 4px 0 44px rgba(0,0,0,.1)!important;
}


article {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);

	@include media($mobile) {
		font-size: 80%;
	}
}

.action-bar {
z-index: layer(header);
}

.user-login {
z-index: layer(header);
}