@include keyframes(slideOpen) {
    from {
        @include transform(translateX(500px));
    }
    to {
        @include transform(translateX(0));
    }
}
 
@include keyframes(slideClosed) {
    from {
        @include transform(translateX(0));
    }
    to {
        @include transform(translateX(105%));
    }
}
 
.side-panel.show {
    @include animation-name(slideOpen);
    @include animation-duration(.3s);
    @include animation-timing-function(ease-out);
    @include animation-fill-mode(forwards);
    @include prefixer(backface-visibility, hidden, webkit moz spec);
}

.side-panel-test {
    @include animation-name(slideOpen);
    @include animation-duration(.3s);
    @include animation-timing-function(ease-out);
    @include animation-fill-mode(forwards);
    @include prefixer(backface-visibility, hidden, webkit moz spec);
}
 
.side-panel.close {
    @include animation-name(slideClosed);
    @include animation-duration(.2s);
    @include animation-timing-function(ease-in);
    @include animation-fill-mode(forwards);
    @include prefixer(backface-visibility, hidden, webkit moz o spec);
}
 
.loading .wrapper {
    @include animation(none);
}

.close-panel {
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 7000;

    a {
        font-size: 22px;
        width: 45px;
        display: block;
        height: 45px;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }
}