.comisiones {
	padding: 0 25px;
    display: block;
    float: left;
    width: 100%;
}

.flex-cards {
	float: left;
    display: flex;
    margin-right: 2.35765%;
    width: 100%;
    flex-wrap: wrap;

	.flex-item {
		flex: 1 1 100%;
		border-bottom: 1px solid #ddd;
		padding: 10px 20px;
		text-align: left;
		line-height: 25px;
		font-size: 18px;
		border-left: 1px solid #ddd;
		align-items: left;
		display: flex;
		justify-content: flex-start;
		    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;

		&:hover {
			background: #EBF5FB;
		}

		a {
			text-decoration: none;
		}
	}
}

.side-panel {
	article {
	    padding: 30px 20px;

		h2 {
			text-align: center;
			padding: 20px;
		}
	}
}

.diputados-container {
	color: #666;

	.diputados-item {
		margin: 10px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		padding: 15px 0 10px 0;

		small {
				text-transform: uppercase;
		}

		h5 {
			
		}

		.description {
			text-transform: uppercase;
		}
	
		&.presidente {

			small {
			
			}

			h5 {

			}

			.description {

			}
		}

		&.vicepresidente {

			small {
			
			}

			h5 {

			}

			.description {

			}
		}

		&.secretario {
			width: 50%;
			float: left;
			margin: 0;

			small {
			
			}

			h5 {

			}

			.description {

			}
		}

		&.vocal {
		    width: 33.33333333333333333333333%;
		    float: left;
		    margin: 0;
		    min-height: 120px;

			small {
			
			}

			h5 {
				font-size: 16px;
			}

			.description {
				font-size: 14px;
				font-weight: 600;
			}
		}
	}
}

.citacion-container {
	.citacion-item {
		border-bottom: 1px solid #ddd;
		padding: 15px;
	}
}

.proyectos-container {
	.proyectos-item {
		display: block;
		border-bottom: 1px solid #ddd;
		padding: 15px;
	}
}