.-fulfilled {
	@include display(flex);
	@include justify-content(space-between);

	span {
		display: inline-block;
		background: $light-gray;
	    height: 20px;
	    opacity: 0.4;
	}

	.item-1 {
		 width: 60px;
	}

	.item-2 {
 		width: 60px;
	}

	.item-3 {
 		width: 180px;

	}
}