.ordenes-del-dia {
	padding: 0 25px;
    display: block;
    float: left;
    width: 100%;
}

article {

	.article-meta {

	}

	.article-title {
		margin: 15px 0;
		text-align: center;
		text-transform: uppercase;

		h2 {
			margin: 15px 0;
		}

		time {
			font-size: 22px
		}


	}

	.article-content {
		@include span-columns(10);
		@include shift(1);
	}

	h3 {
		margin: 5px 0 10px 0;
	}

	p {
		font-size: 16px;
		line-height: 20px;
	}

	.proyectos-container {
		text-align: center;
	}
}
