.ordenes-del-dia {
	padding: 0 25px;
    display: block;
    float: left;
    width: calc(100% - 320px);

    @include media($desktop) {
	     width: 100%;
	}
}

article {

	.article-meta {

	}

	.article-title {
		margin: 15px 0;
		text-align: center;
		text-transform: uppercase;

		h2 {
			margin: 15px 0;
		}

		time {
			font-size: 22px
		}


	}

	.article-content {
		@include span-columns(10);
		@include shift(1);
	}

	h3 {
		margin: 5px 0 10px 0;
	}

	p {
		font-size: 16px;
		line-height: 20px;
	}

	.proyectos-container {
		text-align: center;
	}
}


.ordenes-del-dia {

	.proyecto-item {
		float: left;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
		display: flex;
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		

		&:hover {
			background: #f9f9f9;
		}

		.item-left,
		.item-center,
		.item-right {
			padding: 5px;
			display: flex;
			flex-direction: column;
			text-align: left;
		}

		a {
			font-size: 20px;
			font-family: 'PT Sans Narrow';
			text-decoration: none;
		}

		.item-left {
			flex: 0.5;
			padding-left: 15px;
			font-size: 16px;
		}

		.item-center {
			flex: 2;
			padding-left: 15px;
		}

		.item-right {
			flex: 1;
			text-align: center;

			.item-meta {
				float: left;
				width: 100%;
				display: flex;

				.meta-item {
					flex: 1 1 50%;
					padding: 15px 0 20px 0;

		    		.meta-title {
		    			font-size: 20px;
		    		}

		    		small {
		    			text-transform: uppercase;
		    			font-size: 12px;
		    			color: #333;
		    		}
				}
			}
		}



		.title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			margin-bottom: 3px;
		}

			.titulo {
				color: #555;
				font-size: 17px;
				line-height: 27px;
				padding: 0;
			}



		@include media($mobile) {
    	    flex-direction: column;
		}

		a {
			
		}

		p {
		    flex: 1;
		    line-height: 18px;
		    text-align: left;
		    font-size: 14px;

			@include media($mobile) {
			    order: 2;
			}
		}

		time {
			flex: 2;
			text-align: right;
		    padding-right: 15px;

		    @include media($mobile) {
			    text-align: center;
			    flex: 1;
			    order: 1;
			}
		}
	}
}