$mobile: new-breakpoint(max-width 650px 6);
$tablet: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 993px 12);

.filter-container {
    display: flex;
    justify-content: flex-end;
    background: #F2F3F4;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 15px 25px;
    flex-wrap: wrap;
    align-items: flex-end;
	


	.search-btn {
		flex-basis: 130px;
		text-align: center;
		background: #3498DB;
		color: #fff;
		font-weight: 600;
		padding: 9px 10px;
		margin: 0 27px;
		cursor: pointer;

		&:hover {
			background: #2E86C1;
		}
	}

	.search-filter {
		flex: 1 1 200px;
		position: relative;
		margin: 0 0 0 0;
		padding-right: 30px;

			@include media($mobile) {
			    flex: 1 1 100%;
			    position: relative;
			    margin: 0 0 18px 0;
			    padding-right: 30px;
			}

		    

		&.active {

		}

		.reset-filter {
			position: absolute;
			right: 30px;
			font-size: 17px;
			color: #999;
			top: 0;
			font-weight: 600;
			cursor: pointer;
		}

		

		.title {
		    position: relative;
		    font-family: 'PT Sans Caption';
		    font-size: 16px;
		    font-weight: 400;
		}

		select, input {
		    position: relative;
		    width: 100%;
		    padding: 7px;
		    margin-top: 10px;
		    background: #fff;
		    border: 1px solid #ddd;
		    font-size: 17px;
		}
	}
}

.add-filter-list {
	position: fixed;
    right: 0;
    width: auto;
    top: 73px;
    text-align: right;

	ul {
		display: flex;
		flex-direction: column;
		background: #EBF5FB;
		padding: 5px;
	    height: 100vh;

		li {
	        padding: 14px;
		}

		a {
			color: #3498DB;
			text-decoration: underline;
			padding: 0;
			cursor: pointer;
		}
	}
}

.filter-box {
	display: flex;
	flex: 2;
	flex-wrap: wrap;
}