$mobile: new-breakpoint(max-width 650px 6);
$tablet: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 993px 12);

.welcome {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

	@include media($mobile) {
		padding: 40px;
	}
}