<section class="welcome">

	{{#if session.isAuthenticated}}
		<h2 style="color: #333;padding-top: 40vh;">Bienvenido {{session.user.nombre}} {{session.user.apellido}} <br>
	al Sistema parlamentario para Diputados</h2>
	{{else}}
		
	 <div class="logo">
	    <img src="assets/images/logo-hcdn.png">
	  </div>
	  	<h2 style="color: #fff;margin: 15px;">Bienvenido <br>
	al Sistema parlamentario <br> para Diputados</h2>

  		{{#link-to 'login' class="btn -simple"}}{{fa-icon 'user'}} Acceder{{/link-to}}
	{{/if}}
</section>